.taskdiv{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid aqua;
    justify-content: space-between;
    background-color:white;
    margin: 30px;
    width: 330px;
    height: 8vh;
    border: none;
    border-radius: 6px;
    outline: none;
    box-shadow: 5px 5px 5px 5px rgb(176, 213, 228);   
    
} 
#all{
   display:flex; 
   flex-direction: column;
   align-items: center;
   
}


body{
    height: 95vh;
    background:linear-gradient(to bottom right,aqua,rgb(181, 242, 247),rgb(169, 238, 238),rgb(203, 203, 238),rgb(203, 203, 238));
  overflow: hidden;
}
 .FullBox{
text-align: center;

 } 
.h1{
    font-size: 40px;
    color:white;
}
.plus{
    color: white;
    font-size: 60px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#input{
    width: 290px;
    height: 6vh;
    border: none;
    border-radius: 6px;
    outline: none;
    /* position: relative; */
    /* right: 45px; */
}
/* .check{
    height: 20px;
    width: 25px;
    padding: 200px;
} */
#add{
    border: none;
    outline: none;
    height: 6vh;
    border-radius: 6px;
    width: 50px;
    font-size: 20px;
    box-shadow:  inset 5px 10px 20px skyblue,inset -5px -10px 20px blue;
    box-shadow: 20px;
    background-color: transparent;
}
.delete{
    padding: 10px;
    outline: none;
    border: none;
    /* background-color: red; */
    border-radius: 5px;
    font-size: 15px;
    box-shadow:  inset 5px 20px 20px red,inset -5px -20px 20px rgb(230, 145, 145);

}
:hover.delete{
    box-shadow:  inset 5px 20px 5px orangered,inset -5px -20px 5px rgb(216, 65, 10);
    
}
.edit{
    outline: none;
    border: none;
    margin-left: 130px;
    padding: 10px;
    /* background-color: blue; */
    border-radius: 5px;
    font-size: 15px;
    box-shadow:  inset 5px 10px 20px rgb(110, 219, 107),inset -5px -10px 20px rgb(18, 179, 79);




}
.checkbox{
    padding: 10px;
    background-color: aqua;
    
}
.list{
    font-size: 20px;
    margin-top: 10px;
}
#input{
    font-size: 20px;
}
/* .a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */
